@import url(http://fonts.googleapis.com/css?family=PT+Sans+Narrow);

.full-width {
  width: 100%;
}
.footer {
  background-image: url(/img/pattern2.png);
  position: absolute;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 3em;
  z-index: 300;
  bottom: 0px;
}
.limo151 {
  position: relative;    
}
.contact {
    color: #fff;
    font-size: 1.2em;
    text-decoration: none;
}
.footer-contact {
    font-family: 'PT Sans Narrow', sans-serif;
}
h1 {
    color: #fff1b6;   
}
.row a {
    color: #fff;
    text-decoration: none;
}