body {
    background-color: #565656;
}
.bg-limo {
    background-image: url(/img/limo/limo151-main_limo01.jpg);
    background-size: cover;
    background-position: center;
}

.bg-flowers {
    background-image: url(/img/promo/limo151-promo02.jpg);
    background-size: cover;
    background-position: center;
}

.bg-photo {
    background-image: url(/img/promo/limo151-promo05.jpg);
}

.bg-workflow {
    background-image: url(/img/promo/limo151-promo04.jpg);
}

.bg-contact {
    background-image: url(/img/pattern1.png);
}
